<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<h1>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add new</h1>
    <form action="/products" method="POST">
      <input type="text" name="name" placeholder="prod name" />
      <input type="number" name="price" placeholder="price" />
      <select name="category" id="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
